/**
 * My Style
 * -------------------------------------------------------------------------- */

nav {
   .text {
      display: inline-block;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}


@media (max-width: 419px) {
   .vp-doc div[class*='language-'] {
      margin: 10px;
      /* border-radius: 5px; */
   }
}


.vp-doc [class*='language-'] code {
   padding: 0 20px;
}

.VPFeature {
   .VPImage {
      border-radius: 6px;
   }
}

.VPHomeHero .main {
   /* margin-top: 30px; */
   margin-bottom: 30px;

}

.VPHomeHero .clip {
   font-weight: 500;
   color: #7e7e7e;
   line-height: 70px;
   font-size: 1.5rem;
   -webkit-text-fill-color: unset;
}

.VPHomeHero .text {
   margin: 0px 0 20px 0;
}


.VPTeamPage{
   padding-bottom: 30px !important;
}

.vp-doc p img{
      margin:auto;
}

.VPBadge {
   padding: 2px 10px !important;
   border-radius: 15px !important;
}